<h1 class="hdr">Floraholic</h1>
<h4 class="sub-hdr">The fix for garden addicts!</h4>
<p>Already registered? <%= link_to "log in", login_path %></p>
<p>New user? <%= link_to "register now!", new_user_path %></p>